
.meus-filmes {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.meus-filmes h1 {
    margin-bottom: 14px;
}

.meus-filmes span {
    font-size: 18px;
}

.meus-filmes ul {
    background-color: #fff;
    padding: 10px 8px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {
    text-decoration: none;
    background-color: #116feb;
    padding: 5px 10px;
    color: #fff;
    margin-right: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.meus-filmes div a:hover {
    background-color: #3987ed;
}

.meus-filmes div button {
    background-color: #700f0f;
    padding: 7px 10px;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.meus-filmes div button:hover {
    background-color: #ae1414;
}